<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><a href="/" class="title">Spring-Ng Blog</a></h1>
<!--        <div class="col-md-3">-->
<!--        </div>-->
      </div>
      <div class="col-md-3">
          <a href="/add-post" class="new-post btn btn-default" *ngIf="isAuthenticated()"> Add
            Post</a>
        <button class="btn logout btn-default" (click)="logout()" *ngIf="isAuthenticated()">Logout
        </button>
        <a href="/login" class="btn btn-default login"
           *ngIf="!isAuthenticated()">Login</a>
        <a href="/register" class="btn btn-default register"
           *ngIf="!isAuthenticated()">Register</a>
      </div>
    </div>
  </div>
</div>
