.header {
  padding: 5px 20px;
  background: royalblue;
}

.title {
  text-decoration: none;
  color: aliceblue;
}

.login, .register, .new-post, .logout {
  padding-top: 10px;
  color: aliceblue;
  text-decoration: none;
  float: right;
  background-color: transparent;
  border-color: transparent;
}

.login:hover, .register:hover, .login:active, .register:active, .new-post:hover,
.new-post:active, .logout:hover, .logout:active {
  color: aliceblue;
  background-color: transparent;
  border-color: transparent;
  transform: rotate(10deg);
  transition: ease-in-out 300ms;
}
